body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 280px); /* Espaço para logo e seção direita */
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a.active {
    border-bottom: 2px solid #fff;
}

.logo {
    align-self: flex-start;
    padding: 10px;
    display: auto;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.main-nav {
    display: flex;
    justify-content: center;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 15px; 
}

.right-section p {
    margin-bottom: 5px;
}

.right-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.right-section li {
    margin-top: 5px;
}

.progress {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
}

.progress::-webkit-progress-bar {
    background-color: #ddd;
}

.progress::-webkit-progress-value {
    background-color: #4CAF50;
}